<h1>New Post!</h1>

<%= flash[:errors] %>

<form action=" <%= posts_url %> " method="post">
    <input type="hidden" name="post[user_id]" value=" <%= @current_user.id  %>">
    <input type="hidden" name="post[sub_id]" value=" <%= @post.sub_id  %>">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
  <label for="title">Title</label>
  <input id= "title" type="text" name="post[title]" value="">
  <br>
  <label for="url">URL</label>
  <input type="text" name="post[url]" value="">
  <br>
  <label for="content">Content</label>
  <br>
  <textarea id= "content" name="post[content]" rows="8" cols="80"></textarea>
  <br>
  <input type="submit" value="Create Post">
</form>
